  <h1>Don't have an account? Register here.</h1>
  <div class="col-md-6">
      <form action="/api/sessions/register" method="post">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="last_name" placeholder="last name" />
        <input type="email" name="email" placeholder="email" />
        <input type="date" name="age" placeholder="Your Birthdate" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="Registro" />
      </form>
      <div>
    <form  action="/" method ="get">
    <button type="submit">Go back</button>
    </form>

