<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Websocket</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/stles.css">
</head>
<body>    
</body>

</html>